@use "./ua-reset.scss";

body{
     margin: 0;
     background-color: #525238;
}
nav {
     font-family: "Gabriela", serif;
     background-color: #C29861;
     display: flex;
     justify-content: space-between;
     padding: .2vw;
     margin: auto;
     align-items: center;
     color: white;
     position: sticky;
     top: 0;
}
.site-name {
     margin-top: 0;
     display: flex;
     align-items: center;
     padding-left: 2vw;
}
a {
     text-decoration: none;
     color: white;
     padding-left: 2vw;
     padding-right: 2vw;
     font-size: 1.5em;
}
a:hover {
     color: rgb(211, 197, 197);
}
.hero {
     align-self: center;
     background-image: linear-gradient(#ff000000 70%, #525238), url(../img/header.jpg) ;
     background-size:cover;
     height: 70vh;
}
.menu {
     padding-right: 2vw;
}
  @media screen and (max-width: 1500px){
     .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
     }
}  
 @media screen and (max-width: 850px){
     .hero {
          background-image: linear-gradient(#ff000000 70%, #525238), url(../img/header3.jpg) ;
          background-size:cover;
          height: 70vh; 
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
     }
}  
//make new sass file for stuff below

/* Sections/rows */
.row{
     display: flex;
     justify-content: space-between;
     max-width: 1000px;
     margin: 0 auto;
}

/* Sections */
.row.one, .row.two{
     padding: 3vw 8vw;
     color: white;
     display: flex;
     flex-direction: row;
     align-items: center;
}
.image.one{
     margin-left: 4vw;
     width: 100%; 
}
.image.two{
     margin-right: 4vw;
     width: 100%;
}
p{
     font-family: "Quicksand", sans-serif;
     padding: 4vw;
     font-size: 1.2em;
 }
.row.one h1, .row.two h1 {
     padding-left: 1em;
     font-family: "Gabriela", serif;
     font-size: 3em;
}


//
//make new sass file fro below

.row{
     display: flex;
}
.card{
     flex: 1;
     margin: 2vw;
     height: 0vh 10vw;
}
.row.card:last-of-type{
     margin-right: 0;
} 
.card-text{
     padding:2vw;
}
.card-text h2{
     font-family: "Quicksand", sans-serif;
     color: white;
     margin-top: 0;
     text-align: center;
}
.card-image img {
    width: 100%;
    height: 100%;
}
h1 {
     font-family: "Gabriela", serif;
     font-size: 3em;
     text-align: center;
     color: white;
}
 
@media screen and (max-width: 850px){
     .row{
          align-items: center;
          display: flex;
          flex-direction: column;
     }
     .card-image img {
          width: 30vh;
          height: 30vh;
     }
} 